# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
venv/
ENV/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Data

*.tsv
*.parquet
*.h5
*.db
*.sqlite
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Git
*.orig

# Misc
*.bak
*.tmp


Scripts/EDA.py
Scripts/helper.py